body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

button {
    width: 150px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #50C9B5;
    color: #fff;
    cursor: pointer;
}

button.volver {
    width: 150px;
    background-color: #963942;
}

button:hover {
    opacity: 0.9;
}

/* Estilos para la imagen */
.map-container img {
    width: 50%; /* Ajusta el tamaño a la mitad, puedes cambiar este valor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Opcional: añade bordes redondeados */
    transition: transform 0.3s ease-in-out; /* Configura la animación */
}

/* Animación cuando el cursor está sobre la imagen */
.map-container img:hover {
    transform: scale(1.1); /* Hace que la imagen se agrande al pasar el cursor */
}
.map-container {
    text-align: center; /* Centra el contenido, incluida la imagen */
}

.map-container img {
    display: inline-block; /* Asegura que la imagen se comporte como un elemento en línea */
}
